<header role="banner" id="global-header" class="global-header">
    <div class="global-header__wrapper">
        <div class="global-header__title">
            <a href="/" title="Manage vacancies">
                Manage vacancies
            </a>
        </div>
    </div>
</header>
<div id="global-header-bar"></div>